<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>プロフィール編集</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
 <div class="header header-between">
       <a href="/top" class="header-title">
           My Portfolio
       </a>

        <form action="/logout" method="post">
            <button type="submit" class="header-button">
                ログアウト
            </button>
        </form>
    </div>

   <div class="profile-edit-page">
    <div class="profile-edit-area">
        <h1>自己紹介を編集する</h1>

        <form class="profile-edit-form"
              th:action="@{/profile/edit}"
              th:object="${profileForm}"
              method="post"
              enctype="multipart/form-data">

            <label>自己紹介</label><br>

            <textarea th:field="*{profile}" rows="8" cols="50"></textarea>

          <p th:if="${#fields.hasErrors('profile')}"
   th:text="${#fields.errors('profile')[0]}"
   style="color:red;">
</p>

            <br><br>

            <label for="imageFile">プロフィール画像</label><br>

<input type="file"
       id="imageFile"
       th:field="*{imageFile}"
       accept="image/png,image/jpeg">

<p class="skill-input-help">
    PNGまたはJPEG形式、5MB以下の画像を選択してください
</p>

<p th:if="${#fields.hasErrors('imageFile')}"
   th:text="${#fields.errors('imageFile')[0]}"
   class="error-message">
</p>

            <br><br>

            <div class="submit-area">
    <button type="submit" class="profile-edit-submit">
        自己紹介を確定する
    </button>
</div>
        </form>
    </div>
 <div class="footer">
        portfolio site
    </div>
<script>
    const imageFileInput =
            document.getElementById("imageFile");

    const maxFileSize =
            5 * 1024 * 1024;

    imageFileInput.addEventListener(
            "change",
            function () {

                const selectedFile =
                        this.files[0];

                if (selectedFile
                        && selectedFile.size > maxFileSize) {

                    alert(
                        "プロフィール画像は5MB以下のファイルを選択してください"
                    );

                    this.value = "";
                }
            }
    );
</script>
</body>
</html>