<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>TOP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="header header-between">
        <div>My Portfolio</div>

        <form action="/logout" method="post">
            <button type="submit" class="header-button">
                ログアウト
            </button>
        </form>
    </div>

    <div class="page">
        <div class="profile-area">
            <div class="profile-image">
                No Image
            </div>

            <div class="profile-info">
                <h2>自己紹介</h2>

                <p>
                    名前：<span th:text="${loginUser.name}"></span>
                </p>

               <p th:text="${loginUser.profile != null ? loginUser.profile : '未設定'}">
    未設定
</p>

                <a th:href="@{/profile/edit}">
    <button type="button">自己紹介を編集</button>
</a>
            </div>
        </div>
    </div>

    <div class="footer">
        ©2024
    </div>

</body>
</html>