<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>TOP</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="header header-between">
        <div>My Portfolio</div>

        <form action="/logout" method="post">
            <button type="submit" class="header-button">
                ログアウト
            </button>
        </form>
    </div>

    <div class="page">
        <h1>ログイン成功！</h1>
    </div>

    <div class="footer">
        ©2024
    </div>

</body>
</html>