<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.springbootapplication.mapper.UserMapper">

    <insert id="insert" parameterType="com.spring.springbootapplication.entity.User">
        INSERT INTO users (
            name,
            email,
            password
        ) VALUES (
            #{name},
            #{email},
            #{password}
        )
    </insert>

  <select id="findByEmail"
    parameterType="java.lang.String"
    resultType="com.spring.springbootapplication.entity.User">
    SELECT
        id,
        name,
        email,
        password,
        profile,
        image_url AS imageUrl
    FROM users
    WHERE email = #{email}
</select>

<update id="updateProfile" parameterType="com.spring.springbootapplication.entity.User">
    UPDATE users
    SET
        profile = #{profile},
        image_url = #{imageUrl}
    WHERE id = #{id}
</update>

<select id="findByIdAndUserId"
        resultType="com.spring.springbootapplication.entity.LearningData">
    SELECT
        id,
        user_id AS userId,
        category_id AS categoryId,
        item_name AS itemName,
        study_time AS studyTime,
        study_date AS studyDate,
        created_at AS createdAt,
        update_at AS updateAt
    FROM learning_data
    WHERE id = #{id}
      AND user_id = #{userId}
</select>
</mapper>